@include font("Montserrat", "montserratlight", "300", "normal");
@include font("Montserrat", "montserrat", "400", "normal");
@include font("Montserrat", "montserrat_bold", "700", "normal");
@include font("PTSans", "ptsans_regular", "400", "normal");
@include font("PTSans", "ptsans_bold", "700", "normal");

body {
    background-color: $color_bg;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: $color_font;
}

.content {
    position: relative;
    width: 100%;
    min-height: 100%;
    max-width: $max_width;
    margin: 0 auto;
}
