$color_first: #FF7439;
$color_first_hover: #F16E36;
$color_first_dis: #ffb99c;
$color_black: #000;
$color_white: #fff;
$color_grey: #f0f3f8;
$color_grey_light: #ebeef3;

$color_bg: #F0F6FC;
$color_bg_white: #fff;
$color_bg_grey: rgba(203, 215, 228, 0.4);
$color_menu_active: #FF7439;

$color_font: #000;
$color_font_white: #fff;
$color_font_red: #FF7439;
$color_border: #E7ECF1;

$min_width: 1920px;
$max_width: 1920px;

