/** Vuetify */
.v-overlay__scrim {
    background-color: rgba(240, 246, 252, 0.7);
}

.v-dialog {
    overflow: hidden;
    border-radius: 10px !important;
    box-shadow: none !important;

    .v-card {
        &__actions {
            justify-content: flex-end !important;
        }
    }

    .v-btn {
        flex: none;
        margin: 0 5px;
    }
}

.v-input {
    color: $color_font !important;
}

.v-pagination__navigation,
.v-pagination__item,
.v-pagination__item--active {
    box-shadow: none !important;
}

.v-pagination__item {
    height: 28px !important;
    width: 28px !important;
    min-width: 28px !important;
    font-size: 12px !important;
    line-height: 15px;
    font-weight: 400;
    color: $color_font;

    &--active {
        background-color: $color_first !important;
        margin: 1px 0;
        color: $color_font_white;
        border-radius: 50% !important;
    }
}

/** Vuetify Datepicker */
.v-picker {
    border-radius: 0 !important;

    &__body {
        border-radius: 0 !important;

        .v-date-picker-header {
            padding: 9px;

            &__value {
                button {
                    padding: 0;
                    font-family: PTSans;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400 !important;
                }
            }
        }

        .v-date-picker-table {
            background-color: #f3f8fd;
            height: auto;
            padding: 7px 0 12px 0;

            table {
                border-collapse: collapse;
            }

            .v-btn {
                margin: 1px 0;
                font-size: 12px;
                line-height: 15px;
                font-weight: 400;
                color: $color_font;

                &--active {
                    background-color: $color_first !important;
                    color: $color_font_white;

                    &::before {
                        opacity: 0;
                    }
                }
            }

            &--date {
                th {
                    font-size: 12px;
                    line-height: 15px;
                    font-weight: 700;
                    color: $color_font;
                }
            }
        }
    }
}

/** MDI */
.mdi-chevron-right::before {
    content: '';
    background-image: url("~@/assets/img/icons.svg#arrow_right");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
}

.mdi-chevron-left::before {
    content: '';
    background-image: url("~@/assets/img/icons.svg#arrow_left");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
}

.mdi-pencil::before {
    content: '';
    background-image: url("~@/assets/img/icons.svg#edit");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
}

.mdi-delete::before {
    content: '';
    background-image: url("~@/assets/img/icons.svg#trash");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
}

.mdi-checkbox-blank-outline::before {
    content: "\F0130";
}

.mdi-checkbox-marked::before {
    content: "\F0134";
}