$color_first: #ef5b4c;
$color_second: #1b4a8a;

$color_bg: #F0F6FC;
$color_bg_white: #fff;
$color_bg_grey: rgba(203, 215, 228, 0.4);

$color_font: #000;
$color_font_white: #fff;
$color_border: #e1e1e1;

$min_width: 1920px;
$max_width: 1920px;
